
:root {
  font-size: 1.1em;
  --bs-body-color: #3d4551;
  --grey: #8d9297; 
  --link: hwb(214 0% 10%);
  --link-hover: hwb(210 0% 0%);
  --link-visited: hwb(272 11% 34%);
  --link-visited-hover:hwb(272 20% 10%);
  --active: var(--link); /* synthetic */
  --active-dim: var(--link-hover);
  --active-bright: hwb(210 2% 6%);
  --active-dark: #4d4438; /* synthetic */
  --active-bg: #fff0c7; /* synthetic */
  --popup-text: var(--bs-body-color);
  --sans: source-sans-3;
  --mono: source-code-pro;
  --serif: "Minion Pro", Minion, "Palatino Linotype", Palatino, serif; 
  --ratio: 2.05ex;
  --mono-ratio: 0.78ex;
  --space-width: 0.3em;
  --scale-ratio: 1.3;
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--scale-ratio));
  --s2: calc(var(--s1) * var(--scale-ratio));
  --s3: calc(var(--s2) * var(--scale-ratio));
  --s4: calc(var(--s3) * var(--scale-ratio));
  --s5: calc(var(--s4) * var(--scale-ratio));
}


.navbar.bg-light {
  --bs-bg-opacity: 100;
  font-family: var(--sans);
  font-size:  var(--ratio);
}
.navbar-brand {
  --bs-navbar-brand-color:#8e704f;
  
}


.btn-success {
  --bs-btn-bg: var(--active);
  --bs-btn-border-color: var(--active);
  --bs-btn-hover-bg: var(--active-dim);

  --bs-btn-hover-border-color: var(--active-dim);
  --bs-btn-active-bg: var(--active-dim);

  --bs-btn-active-border-color: var(--active-dim);
}



.content {
  font-family: var(--serif);
  font-weight: 400;
  font-size: calc(1rem + 0.3vw);
  max-width: 65ch;
  margin: 0px auto;
  padding: 2rem;
}

.translit {
  font-family: var(--sans);
  font-size: var(--mono-ratio);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--nav-brand);
  margin: -2px;
  padding: 2px;
}


h1, h2, h3, h4, h5 {
  font-family: var(--sans);
  margin-top: 1em;
  font-weight: 600;
}

h1 {
  font-size: var(--s5);
}

h2 {
  font-size: var(--s4);
}

h3 {
  font-size: var(--s3);
}

h4 {
  font-size: var(--s2);
}

.example {
  margin: 1.5rem 1rem 1.5rem 0 !important;
}

.ft {
  font-style: italic;
}

.smol {
  font-size: 0.95rem;
}
table {
  margin: 2rem auto !important;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  font-family: var(--sans);
  font-size: var(--ratio);
}
table:not(.alternating) {

  border-collapse: separate;
  border-spacing: 1.5rem 0;
}


td.columnar:not(:last-child) {
  min-width: 5em;
}

table.alternating td:nth-child(even) {
  padding: 0 2rem 0 0.2rem !important;
}

table.alternating td:nth-child(odd) {  
  font-weight: 500;
}

table.alternating td:nth-child(1) {
  padding-left: 2rem;
}

tr.optional {
  color: var(--grey);
}

td.columnar {
  padding-right: 2rem;
}

th {
  font-family: var(--serif);
  font-weight: 400;
}

table.layout {
  border: none;
  background-color: var(--bs-body-bg);
  border-spacing: 0;
  margin: 0 !important;
}

.chunk {
  position: relative;
  display: inline-block;
  color: var(--active);
  margin: 0;
  padding: 0;
}
.interlinear.word {
  display: inline-block;
  position: relative;
  margin-bottom: var(--space-width);
  margin-right: var(--space-width);
}

.form, strong {
  font-weight: 600;
}
.form, strong, .ipa, .ft, .sound {
  font-family: var(--sans);
  font-size: var(--ratio);
}

.gloss, .sound {
  font-weight: 400;
}

.plain {
 /* color: var(--active); */
}

.hover {
  color: var(--active-dark);
  background: var(--active-bg);
}



article a {
  color: var(--link);
  text-decoration: underline;
}


article a:hover {
  color: var(--link-hover);
}

article a:visited {
  color: var(--link-visited);
}

article a:visited:hover {
  
  color: var(--link-visited-hover);
  text-decoration: none;
}



.outer-popup {
  position: absolute;
  font-weight: 400;
  bottom: 100%;
  left: 50%;
  margin-left: -1em;
  margin-bottom: 0px;
  padding-bottom: 1.5rem;
  z-index: 10000;
}

.inner-popup {
  position: relative;
  color:#4d4438;
  font-size: 1rem; /* rem on purpose: the smallest size the user accepts */
  line-height: 1.5rem;
  width: 40ch;
  background-color: #fffbf2;
  border: 1px solid #c7a97b;
  box-shadow: 0 30px 90px -20px #ccc;
  padding: 1.5rem;
}

/*
.inner-popup::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 1rem;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
*/


